div.profilePage {
    margin-top: 10px;
    font-family: "Poppins";
    display: flex;
  }
  
  div.leftSection {
    width: 40vw;
    border-right: 2px solid #45c361;
  }
  
  div.pfp {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  
  div.pfp img {
    height: 110px;
    width: 110px;
  }
  
  div.pfp h2 {
    font-size: 30px;
    color: #45c361;
  }
  
  div.emailInfo,
  div.IDInfo,
  div.phoneInfo,
  div.accountInfo {
    display: flex;
    gap: 10px;
    /* margin-left: 50px; */
    justify-content: center;
    margin-top: 70px;
    text-align: left;
  }
  
  div.rightSection {
    margin: 0px 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  div.activitySection {
    padding: 10px;
    color: white;
    background-color: #fddf3f;
    display: flex;
    flex-direction: column;
  }
  div.offerSection {
    padding: 20px;
    color: white;
    background-color: #fa9473;
    display: flex;
    flex-direction: column;
  }
  div.productSection {
    padding: 20px;
    color: white;
    background-color: #31af4d;
    display: flex;
    flex-direction: column;
  }
  
  div.rightSection input[type="button"] {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100px;
    background-color: #45c361;
    border-radius: 4px;
    cursor: pointer;
  }